* {
  font-family: Roboto;
  /* font-size: 0px; */
}
img {
  width: 25px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: rgba(0,0,0,0.3); */
}

body {
  background-color: #003344;
  /* background-color: #681111; */
  /* background-color: #aaaaaa; */
}

a {
  text-decoration: none;
  color: #0060B6;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}
.container {
  margin: auto;
  text-align: center;
  width: 75%;

}

.tab-area {
  text-align: left;
  padding: 0 20px;
}

.tab-thing {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  background-color: #eeeeee;
  min-height: 40px;
  /* width: 80px; */
}

.tab-thing:hover {
  background-color: white;
}

.section-box {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 5px;
}

.character-box {
  padding: 7px;
  margin: 15px 0px;
  /* background-color: #E2E2E2; */
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 3px 3px 10px -3px black;
}
.card-text {
  text-align: left;
  /* border-style: solid; */
}

.card-info {
  /* padding: 10px 0 0 0; */
  padding: 10px 5px 5px 5px;
}

.card-header {
  border-width: 0 0 2px 0;
  border-color: black;
  border-style: solid;
  padding: 5px 5px 5px 20px;
  /* font-size: 24px; */
  /* display: block; */
}

.svg-width {
  width: 25px;
}

.right-svg {
  float: right;
  margin: 0 10px;
}

.anchor-link {
  /* float: left; */
  /* margin: 10px 10px 0 0; */
  /* width: 25px; */
  margin: 0 15px;
  /* visibility: hidden; */
}

.anchor-link:hover {
  visibility: visible;
}
.anchor {
  float: left;
}

.box-header-area {
  /* display: inline; */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@media screen and (min-resolution: 100dpi) {
  .container {
    width: 90%;
  }
  .tab-thing {
    font-size: 30px;
    height: 80px;
  }
  .svg-width {
    width: 40px;
  }
  /* .sectionheader {
    width: 90%;
    font-size: 30px;
  }
  .item-box {
    width: 42%;
    font-size: 38px;
    padding: 50px 30px;
  }
  .box-holder {
    width: 100%; */
    /* max-height: 3000px; */
  /* } */
  /* #ranged-holder {
    max-height: 1000px;
  }
  #explosives-holder {
    max-height: 500px;
  }
  #novelty-holder {
    max-height: 2000px;
  }
  #food-holder {
    max-height: 1900px;
  } */
  /* a {
    display: block;
    font-size: 50px;
  } */
}
