* {
  font-family: Roboto;
  /* font-size: 0px; */
}

body {
  background-color: #eeeeee;
}

.box-holder {
  width: 1000px;
  font-size: 0px;
  display: flex;
  flex-flow: column wrap;
  max-height: 1000px;
}

.item-box {
  /* Disable text selection so there's no accidentally highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  user-select: none;

  cursor: pointer;
  background-color: #dddddd;
  width: 20%;
  padding: 8px 15px;
  margin: 1px;
  font-size: 16px;
  /* display: inline-block; */
}

@media screen and (max-width: 500px) {
  .item-box {
    width: 100%;
  }
  .box-holder {
    width: 100%;
    max-height: none;
  }
}
